@model BlogApp.Models.Publication

@{
    ViewBag.Title = "ReadPost";
}

<div class="container">
    <div class="head-text text-highlight">
        <h1>@Model.Title</h1>
        <p class="lead-text">CAR NEWS&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;POST</p>
    </div>
</div>

<section class="post-fluid">
    <div class="container-fluid">
        <div class="container">
            <div class="row post-items">
                <div class="post-item-banner">
                    <img src="@Model.Link" alt="">
                </div>
                <div class="col-md-2">
                    <div class="post-item-short">
                        <span class="big-text">@Model.DateTime.Day</span>
                        <span class="small-text">@Model.DateTime.ToString("MMMM") @Model.DateTime.Year</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="post-item">

                        <div class="post-item-paragraph">
                            <h2>
                                <a href="shortcode-4.html#" class="quick-read"><i class="fa fa-eye"></i></a>
                                @Model.Title
                            </h2>

                            <p>
                                @Html.Raw(Model.Content.Replace(Environment.NewLine, "<br/>"))
                            </p>
                            <div class="carusel-box">
                                <div class="carousel-title">ISABEL'S HOME OFFICE</div>
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item" style="height: 472px;">
                                            <img src="assets/img/home-office-1.jpg" alt="First slide">
                                        </div>
                                        <div class="item" style="height: 472px;">
                                            <img src="assets/img/home-office-2.jpg" alt="Second slide">
                                        </div>
                                        <div class="item active" style="height: 472px;">
                                            <img src="assets/img/home-office-3.jpg" alt="Second slide">
                                        </div>
                                    </div>
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                                    </ol>
                                    <a class="left carousel-control hide" href="shortcode-4.html#carousel-example-generic" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                    <a class="right carousel-control hide" href="shortcode-4.html#carousel-example-generic" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>


                        </div>
                        <div class="post-item-info no-border clearfix">
                            <p class="post-tags">
                                <a href="shortcode-4.html#">fashion</a>
                                <a href="shortcode-4.html#">culture</a>
                                <a href="shortcode-4.html#">art</a>
                            </p>
                            <div class="post-item-social">
                                <a href="shortcode-4.html#"><i class="fa fa-facebook"></i></a>
                                <a href="shortcode-4.html#"><i class="fa fa-twitter"></i></a>
                                <a href="shortcode-4.html#"><i class="fa fa-google-plus"></i></a>
                                <a href="shortcode-4.html#"><i class="fa fa-heart"></i></a> 18
                            </div>
                        </div>
                    </div>


                    <!--Następny poprzedni post <div class="next-prev-post clearfix">
                        <div class="post-direction">
                            <a href="shortcode-4.html#" class="post-prev">
                                <span class="post-way"><i class="fa fa-angle-left"></i> prev post</span>
                                @Html.ActionLink("Back", "Index", "Publication", null, new { @class = "btn btn-default btn-xs" })
                                <span class="title">Envato Stories: Isabel Castillo Guijarro (Isabelmdd)</span>
                            </a>
                            <a href="shortcode-4.html#"><span class="author">by <span>Gannon Burget</span></span></a>
                        </div>
                        <div class="post-direction">
                            <a href="shortcode-4.html#" class="post-next">
                                <span class="post-way">next post <i class="fa fa-angle-right"></i></span>
                                <span class="title">Rise of the Million Dollar Plugin Makers (Infographic)</span>
                            </a>
                            <a href="shortcode-4.html#"><span class="author">by <span>Jared Erondu</span></span></a>
                        </div>
                    </div>-->

                    <div class="author-box">
                        <div class="author">
                            <a class="author-photo" href="shortcode-4.html#"><img src="../../Content/assets/img/banner-80.jpg" alt=""></a>
                            <div class="author-body">
                                <h4 class="author-name">Author: @Model.Author.FullName</h4>
                                <a href="shortcode-4.html#">view all post</a>
                            </div>
                            <div class="author-connection">
                                <a href="shortcode-4.html#"><i class="fa fa-twitter"></i></a>
                                <a href="shortcode-4.html#"><i class="fa fa-envelope"></i></a>
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Delete", "Delete", "Publication", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                                    @Html.ActionLink("Edit", "Edit", "Publication", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })

                                }
                            </div>
                        </div>
                    </div>

                    <div class="comment-box">


                        

                        @if (User.Identity.IsAuthenticated)
                        {
                        <a class="btn btn-golden" href="#LeaveComment">Leave a comment</a>
                        }
                        else
                        {
                            <p>
                                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                or
                                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                to comment this post.
                            </p>
                            <hr />
                        }
                        <div class="comment-tab">
                            <a href="shortcode-4.html#" class="comment-info"><i class="fa fa-comments"></i>Comments (@Model.Comments.Count())</a>
                            <i class="i">|</i>
                            <a href="shortcode-4.html#" class="comment-info"> Show all</a>
                        </div>
                        @if (Model.Comments.Count != 0)
                        {
                            <div class="comment-block">
                                @foreach (var comment in Model.Comments.OrderBy(x => x.CreatedDate))
                                {
                                    <div class="comment-item">
                                        <a class="comment-photo" href="shortcode-4.html#">
                                            <img src="../../Content/assets/img/banner-82.jpg" alt="">
                                        </a>
                                        <div class="comment-body">
                                            <h6 class="comment-heading">@comment.Name&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;<span class="comment-date">@comment.CreatedDate</span></h6>
                                            <p class="comment-text">
                                                @Html.Encode(comment.Body)
                                            </p>
                                            @if (comment.isAuthor(User.Identity.Name, comment) || User.IsInRole("Admin"))
                                            {
                                                @Html.ActionLink("Delete comment", "DeleteComment", new { id = comment.ID }, new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                }                               
                                @if (User.Identity.IsAuthenticated)
                                {

                                    <div id="LeaveComment" class="comment-form main-comment-form">
                                        @using (Html.BeginForm("Comment", "Publication", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-horizontal">
                                                <input type="hidden" value="@Model.Id" name="postID" />
                                                <h4>Add Comment3</h4>
                                                @User.Identity.Name
                                                <textarea class="comment-textarea" 
                                                            placeholder="Leave a comment..." 
                                                            id="Message" name="Message">
                                                </textarea>
                                                <div class="at-focus">
                                                    <input class="comment-input" placeholder="Name: @User.Identity.Name" type="text" readonly>
                                                    <input class="comment-input" placeholder="Date: @DateTime.Now" type="text" readonly>     
                                                    <input type="submit" value="Submit" class="btn comment-submit" />                                            
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }


                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>